<header>
    <section class="header-left">
        <h1>MpratDev</h1>
        <h2>Software Developper</h2>
    </section>
    <div class="image"></div>
</header>

<style>
    header {
        height: 200px;
        width: 100%;
        background: blue;
        display: flex;
    }

    .header-left {
        width: 100%;
    }

    .image {
        height: 100%;
        width: 60%;
        background-image: url(/public/images/me.jpeg);
        background-size: cover;
        background-position: center;
    }
</style>