---
import HeaderButton from "./HeaderButton.astro";
import Github from "../../public/icons/Github.astro";
---

<header>
    <section class="info">
        <section class="header-left">
            <h1>MpratDev</h1>
            <h2>Software Developper</h2>
        </section>
        <div class="image"></div>
    </section>
    <!-- contact, github & linkedin buttons -->
    <section class="anchors">
        <HeaderButton name="github" href="https://github.com/mpratdev">
            <Github />
            GitHub
        </HeaderButton>
    </section>
</header>

<style>
    header {
        height: 200px;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        background: blue;
    }

    .info {
        display: flex;
    }

    .image {
        height: 100%;
        width: 60%;
        background-image: url(/public/images/me.jpeg);
        background-size: cover;
        background-position: center;
    }
</style>
