---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		--background: #232323;
		--primary: #ed5338;
		--secondary: #321119;
		--accent: #fff;
		--accentwo: #999;
	}

	html,
	body {
		font-family: "CircularStd";
		width: 100%;
		min-height: 100vh;
		background-color: var(--background);
		margin: 0;
		padding: 0;
		display: flex;
	}

	body {
		width: 900px;
		margin: auto;
	}

	@media screen and (max-width: 1000px) {
		body {
			width: 80%;
		}
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Mediuotf") format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Book.otf") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Light.otf") format("woff2");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Bold.otf") format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "CircularStd";
		src: url("/fonts/CircularStd-Black.otf") format("woff2");
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}
</style>
